# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import openweathermapy.core as owm
import openweathermapy as ow
import json
import pprint

# Import API key
from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "../output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

613

In [3]:
cities_df = pd.DataFrame(cities)

In [4]:
cities_df.columns = ['City']
cities_df.head()

             City
0   belushya guba
1  saint-philippe
2         ushuaia
3      bredasdorp
4         rikitea

In [5]:
export_csv = cities_df.to_csv('output_data/cities.csv', encoding='utf-8', index=False)

In [6]:
cities_dft = pd.read_csv('output_data/cities.csv')
cities_dft.head()

             City
0   belushya guba
1  saint-philippe
2         ushuaia
3      bredasdorp
4         rikitea

In [7]:
cities_dft.reset_index(drop=True, inplace=True)

In [8]:
settings = {"appid": api_key, "units": "metric"}

In [9]:
units = ["metric"]

In [10]:
url = "http://api.openweathermap.org/data/2.5/weather?"

In [11]:
query_url = url + "appid=" + api_key + "&q=" + city

In [12]:
print(requests.get(query_url))

<Response [200]>

In [13]:
keys = ["clouds.all", "sys.country", "dt", "main.temp", "main.humidity", "coord.lat", "coord.lon", "main.temp_max", "wind.speed"]

In [14]:
n = 0
keys = ["clouds.all", "sys.country", "dt", "main.temp", "main.humidity", "coord.lat", "coord.lon", "main.temp_max", "wind.speed"]
weather_data = []
for index, row in cities_df.iterrows():
    n += 1
    time.sleep(1)
    weather_data.append(owm.find_city(row[0], **settings)(keys))
    print(f"City number {n} is, {row}")
#time.sleep(1)
#    if weather_data['cod'] == "404":
#        print(f"City, is not available")

City number 1 is, City    belushya guba
Name: 0, dtype: object
City number 2 is, City    saint-philippe
Name: 1, dtype: object
City number 3 is, City    ushuaia
Name: 2, dtype: object
City number 4 is, City    bredasdorp
Name: 3, dtype: object
City number 5 is, City    rikitea
Name: 4, dtype: object
City number 6 is, City    georgetown
Name: 5, dtype: object
City number 7 is, City    dikson
Name: 6, dtype: object
City number 8 is, City    rawson
Name: 7, dtype: object
City number 9 is, City    atuona
Name: 8, dtype: object
City number 10 is, City    chuy
Name: 9, dtype: object
City number 11 is, City    ibirama
Name: 10, dtype: object
City number 12 is, City    hay river
Name: 11, dtype: object
City number 13 is, City    busselton
Name: 12, dtype: object
City number 14 is, City    dmitrov
Name: 13, dtype: object
City number 15 is, City    amderma
Name: 14, dtype: object
City number 16 is, City    jamestown
Name: 15, dtype: object
City number 17 is, City    buraydah
Name: 16, dtype: object
City number 18 is, City    arraial do cabo
Name: 17, dtype: object
City number 19 is, City    sao francisco de paula
Name: 18, dtype: object
City number 20 is, City    souillac
Name: 19, dtype: object
City number 21 is, City    bandarbeyla
Name: 20, dtype: object
City number 22 is, City    chokurdakh
Name: 21, dtype: object
City number 23 is, City    avera
Name: 22, dtype: object
City number 24 is, City    taolanaro
Name: 23, dtype: object
City number 25 is, City    futtsu
Name: 24, dtype: object
City number 26 is, City    airai
Name: 25, dtype: object
City number 27 is, City    basco
Name: 26, dtype: object
City number 28 is, City    wad madani
Name: 27, dtype: object
City number 29 is, City    sorong
Name: 28, dtype: object
City number 30 is, City    khatanga
Name: 29, dtype: object
City number 31 is, City    bethel
Name: 30, dtype: object
City number 32 is, City    mlowo
Name: 31, dtype: object
City number 33 is, City    qaanaaq
Name: 32, dtype: object
City number 34 is, City    dunda
Name: 33, dtype: object
City number 35 is, City    leningradskiy
Name: 34, dtype: object
City number 36 is, City    avarua
Name: 35, dtype: object
City number 37 is, City    kandrian
Name: 36, dtype: object
City number 38 is, City    lata
Name: 37, dtype: object
City number 39 is, City    kapaa
Name: 38, dtype: object
City number 40 is, City    ponta do sol
Name: 39, dtype: object
City number 41 is, City    riviere-au-renard
Name: 40, dtype: object
City number 42 is, City    snina
Name: 41, dtype: object
City number 43 is, City    gubkinskiy
Name: 42, dtype: object
City number 44 is, City    wielun
Name: 43, dtype: object
City number 45 is, City    cape town
Name: 44, dtype: object
City number 46 is, City    new norfolk
Name: 45, dtype: object
City number 47 is, City    talnakh
Name: 46, dtype: object
City number 48 is, City    victoria
Name: 47, dtype: object
City number 49 is, City    walla walla
Name: 48, dtype: object
City number 50 is, City    torbay
Name: 49, dtype: object
City number 51 is, City    nguiu
Name: 50, dtype: object
City number 52 is, City    mataura
Name: 51, dtype: object
City number 53 is, City    chapais
Name: 52, dtype: object
City number 54 is, City    tura
Name: 53, dtype: object
City number 55 is, City    valparaiso
Name: 54, dtype: object
City number 56 is, City    krasnyy chikoy
Name: 55, dtype: object
City number 57 is, City    bluff
Name: 56, dtype: object
City number 58 is, City    puerto ayora
Name: 57, dtype: object
City number 59 is, City    zhoucheng
Name: 58, dtype: object
City number 60 is, City    crestview
Name: 59, dtype: object
City number 61 is, City    vaini
Name: 60, dtype: object
City number 62 is, City    hobart
Name: 61, dtype: object
City number 63 is, City    mayor pablo lagerenza
Name: 62, dtype: object
City number 64 is, City    punta arenas
Name: 63, dtype: object
City number 65 is, City    nemuro
Name: 64, dtype: object
City number 66 is, City    sebring
Name: 65, dtype: object
City number 67 is, City    attawapiskat
Name: 66, dtype: object
City number 68 is, City    kruisfontein
Name: 67, dtype: object
City number 69 is, City    rabat
Name: 68, dtype: object
City number 70 is, City    vila
Name: 69, dtype: object
City number 71 is, City    hambantota
Name: 70, dtype: object
City number 72 is, City    maxixe
Name: 71, dtype: object
City number 73 is, City    galiwinku
Name: 72, dtype: object
City number 74 is, City    port alfred
Name: 73, dtype: object
City number 75 is, City    kahului
Name: 74, dtype: object
City number 76 is, City    hithadhoo
Name: 75, dtype: object
City number 77 is, City    gasa
Name: 76, dtype: object
City number 78 is, City    saryshagan
Name: 77, dtype: object
City number 79 is, City    albany
Name: 78, dtype: object
City number 80 is, City    yellowknife
Name: 79, dtype: object
City number 81 is, City    znamenskoye
Name: 80, dtype: object
City number 82 is, City    namatanai
Name: 81, dtype: object
City number 83 is, City    omboue
Name: 82, dtype: object
City number 84 is, City    trat
Name: 83, dtype: object
City number 85 is, City    turukhansk
Name: 84, dtype: object
City number 86 is, City    bambous virieux
Name: 85, dtype: object
City number 87 is, City    mehamn
Name: 86, dtype: object
City number 88 is, City    lydenburg
Name: 87, dtype: object
City number 89 is, City    barrow
Name: 88, dtype: object
City number 90 is, City    butaritari
Name: 89, dtype: object
City number 91 is, City    hecun
Name: 90, dtype: object
City number 92 is, City    hermanus
Name: 91, dtype: object
City number 93 is, City    novosokolniki
Name: 92, dtype: object
City number 94 is, City    ribeira grande
Name: 93, dtype: object
City number 95 is, City    warqla
Name: 94, dtype: object
City number 96 is, City    awbari
Name: 95, dtype: object
City number 97 is, City    torquay
Name: 96, dtype: object
City number 98 is, City    sorland
Name: 97, dtype: object
City number 99 is, City    thompson
Name: 98, dtype: object
City number 100 is, City    latur
Name: 99, dtype: object
City number 101 is, City    hilo
Name: 100, dtype: object
City number 102 is, City    koungheul
Name: 101, dtype: object
City number 103 is, City    saldanha
Name: 102, dtype: object
City number 104 is, City    kaitangata
Name: 103, dtype: object
City number 105 is, City    atasu
Name: 104, dtype: object
City number 106 is, City    pevek
Name: 105, dtype: object
City number 107 is, City    ambovombe
Name: 106, dtype: object
City number 108 is, City    ipora
Name: 107, dtype: object
City number 109 is, City    san jose
Name: 108, dtype: object
City number 110 is, City    wewak
Name: 109, dtype: object
City number 111 is, City    hasaki
Name: 110, dtype: object
City number 112 is, City    qaqortoq
Name: 111, dtype: object
City number 113 is, City    lompoc
Name: 112, dtype: object
City number 114 is, City    pisco
Name: 113, dtype: object
City number 115 is, City    tete
Name: 114, dtype: object
City number 116 is, City    tautira
Name: 115, dtype: object
City number 117 is, City    artyk
Name: 116, dtype: object
City number 118 is, City    varhaug
Name: 117, dtype: object
City number 119 is, City    barentsburg
Name: 118, dtype: object
City number 120 is, City    yamada
Name: 119, dtype: object
City number 121 is, City    viedma
Name: 120, dtype: object
City number 122 is, City    maumere
Name: 121, dtype: object
City number 123 is, City    charyshskoye
Name: 122, dtype: object
City number 124 is, City    acapulco
Name: 123, dtype: object
City number 125 is, City    zhigansk
Name: 124, dtype: object
City number 126 is, City    richards bay
Name: 125, dtype: object
City number 127 is, City    cabo san lucas
Name: 126, dtype: object
City number 128 is, City    vrbove
Name: 127, dtype: object
City number 129 is, City    comodoro rivadavia
Name: 128, dtype: object
City number 130 is, City    luderitz
Name: 129, dtype: object
City number 131 is, City    mersing
Name: 130, dtype: object
City number 132 is, City    nizhneyansk
Name: 131, dtype: object
City number 133 is, City    umzimvubu
Name: 132, dtype: object
City number 134 is, City    cherskiy
Name: 133, dtype: object
City number 135 is, City    grand river south east
Name: 134, dtype: object
City number 136 is, City    vaitupu
Name: 135, dtype: object
City number 137 is, City    suncuius
Name: 136, dtype: object
City number 138 is, City    maniitsoq
Name: 137, dtype: object
City number 139 is, City    nikolskoye
Name: 138, dtype: object
City number 140 is, City    havoysund
Name: 139, dtype: object
City number 141 is, City    gorkovskoye
Name: 140, dtype: object
City number 142 is, City    mys shmidta
Name: 141, dtype: object
City number 143 is, City    fukue
Name: 142, dtype: object
City number 144 is, City    puerto maldonado
Name: 143, dtype: object
City number 145 is, City    tuktoyaktuk
Name: 144, dtype: object
City number 146 is, City    sao filipe
Name: 145, dtype: object
City number 147 is, City    jega
Name: 146, dtype: object
City number 148 is, City    sukhodol
Name: 147, dtype: object
City number 149 is, City    dobeln
Name: 148, dtype: object
City number 150 is, City    mackay
Name: 149, dtype: object
City number 151 is, City    upernavik
Name: 150, dtype: object
City number 152 is, City    tasiilaq
Name: 151, dtype: object
City number 153 is, City    spencer
Name: 152, dtype: object
City number 154 is, City    katsiveli
Name: 153, dtype: object
City number 155 is, City    utiroa
Name: 154, dtype: object
City number 156 is, City    laerdalsoyri
Name: 155, dtype: object
City number 157 is, City    stornoway
Name: 156, dtype: object
City number 158 is, City    illoqqortoormiut
Name: 157, dtype: object
City number 159 is, City    saint george
Name: 158, dtype: object
City number 160 is, City    axim
Name: 159, dtype: object
City number 161 is, City    vila franca do campo
Name: 160, dtype: object
City number 162 is, City    port blair
Name: 161, dtype: object
City number 163 is, City    bubaque
Name: 162, dtype: object
City number 164 is, City    mount isa
Name: 163, dtype: object
City number 165 is, City    provideniya
Name: 164, dtype: object
City number 166 is, City    kavieng
Name: 165, dtype: object
City number 167 is, City    homer
Name: 166, dtype: object
City number 168 is, City    kodiak
Name: 167, dtype: object
City number 169 is, City    te anau
Name: 168, dtype: object
City number 170 is, City    kuruman
Name: 169, dtype: object
City number 171 is, City    san patricio
Name: 170, dtype: object
City number 172 is, City    caceres
Name: 171, dtype: object
City number 173 is, City    arzgir
Name: 172, dtype: object
City number 174 is, City    cockburn town
Name: 173, dtype: object
City number 175 is, City    itarema
Name: 174, dtype: object
City number 176 is, City    lasa
Name: 175, dtype: object
City number 177 is, City    ruatoria
Name: 176, dtype: object
City number 178 is, City    tiksi
Name: 177, dtype: object
City number 179 is, City    whitianga
Name: 178, dtype: object
City number 180 is, City    saskylakh
Name: 179, dtype: object
City number 181 is, City    carnarvon
Name: 180, dtype: object
City number 182 is, City    terenos
Name: 181, dtype: object
City number 183 is, City    ola
Name: 182, dtype: object
City number 184 is, City    arcata
Name: 183, dtype: object
City number 185 is, City    ylojarvi
Name: 184, dtype: object
City number 186 is, City    port hardy
Name: 185, dtype: object
City number 187 is, City    inirida
Name: 186, dtype: object
City number 188 is, City    nata
Name: 187, dtype: object
City number 189 is, City    puerto gaitan
Name: 188, dtype: object
City number 190 is, City    manavalakurichi
Name: 189, dtype: object
City number 191 is, City    ishigaki
Name: 190, dtype: object
City number 192 is, City    shenjiamen
Name: 191, dtype: object
City number 193 is, City    kyrylivka
Name: 192, dtype: object
City number 194 is, City    ostrovnoy
Name: 193, dtype: object
City number 195 is, City    ilulissat
Name: 194, dtype: object
City number 196 is, City    yulara
Name: 195, dtype: object
City number 197 is, City    labuhan
Name: 196, dtype: object
City number 198 is, City    tecolutla
Name: 197, dtype: object
City number 199 is, City    castro
Name: 198, dtype: object
City number 200 is, City    saleaula
Name: 199, dtype: object
City number 201 is, City    geresk
Name: 200, dtype: object
City number 202 is, City    henties bay
Name: 201, dtype: object
City number 203 is, City    akdagmadeni
Name: 202, dtype: object
City number 204 is, City    fairbanks
Name: 203, dtype: object
City number 205 is, City    beloha
Name: 204, dtype: object
City number 206 is, City    alyangula
Name: 205, dtype: object
City number 207 is, City    hualmay
Name: 206, dtype: object
City number 208 is, City    parras
Name: 207, dtype: object
City number 209 is, City    karkaralinsk
Name: 208, dtype: object
City number 210 is, City    roma
Name: 209, dtype: object
City number 211 is, City    norman wells
Name: 210, dtype: object
City number 212 is, City    ketchikan
Name: 211, dtype: object
City number 213 is, City    dharchula
Name: 212, dtype: object
City number 214 is, City    isangel
Name: 213, dtype: object
City number 215 is, City    surt
Name: 214, dtype: object
City number 216 is, City    tessalit
Name: 215, dtype: object
City number 217 is, City    kalengwa
Name: 216, dtype: object
City number 218 is, City    sawakin
Name: 217, dtype: object
City number 219 is, City    pilar
Name: 218, dtype: object
City number 220 is, City    nanortalik
Name: 219, dtype: object
City number 221 is, City    denpasar
Name: 220, dtype: object
City number 222 is, City    maridi
Name: 221, dtype: object
City number 223 is, City    alekseyevsk
Name: 222, dtype: object
City number 224 is, City    lagoa
Name: 223, dtype: object
City number 225 is, City    pangody
Name: 224, dtype: object
City number 226 is, City    egvekinot
Name: 225, dtype: object
City number 227 is, City    altay
Name: 226, dtype: object
City number 228 is, City    san juan
Name: 227, dtype: object
City number 229 is, City    aflu
Name: 228, dtype: object
City number 230 is, City    chara
Name: 229, dtype: object
City number 231 is, City    bathsheba
Name: 230, dtype: object
City number 232 is, City    olavarria
Name: 231, dtype: object
City number 233 is, City    canon city
Name: 232, dtype: object
City number 234 is, City    vanimo
Name: 233, dtype: object
City number 235 is, City    waynesboro
Name: 234, dtype: object
City number 236 is, City    muros
Name: 235, dtype: object
City number 237 is, City    fomboni
Name: 236, dtype: object
City number 238 is, City    patos
Name: 237, dtype: object
City number 239 is, City    mar del plata
Name: 238, dtype: object
City number 240 is, City    grand gaube
Name: 239, dtype: object
City number 241 is, City    catuday
Name: 240, dtype: object
City number 242 is, City    loa janan
Name: 241, dtype: object
City number 243 is, City    mahebourg
Name: 242, dtype: object
City number 244 is, City    padang
Name: 243, dtype: object
City number 245 is, City    nantucket
Name: 244, dtype: object
City number 246 is, City    itacoatiara
Name: 245, dtype: object
City number 247 is, City    mitsamiouli
Name: 246, dtype: object
City number 248 is, City    dingle
Name: 247, dtype: object
City number 249 is, City    dubbo
Name: 248, dtype: object
City number 250 is, City    anadyr
Name: 249, dtype: object
City number 251 is, City    dumas
Name: 250, dtype: object
City number 252 is, City    kamenskoye
Name: 251, dtype: object
City number 253 is, City    villa oliva
Name: 252, dtype: object
City number 254 is, City    pahrump
Name: 253, dtype: object
City number 255 is, City    ahuimanu
Name: 254, dtype: object
City number 256 is, City    beringovskiy
Name: 255, dtype: object
City number 257 is, City    manzhouli
Name: 256, dtype: object
City number 258 is, City    awash
Name: 257, dtype: object
City number 259 is, City    boffa
Name: 258, dtype: object
City number 260 is, City    khormuj
Name: 259, dtype: object
City number 261 is, City    vao
Name: 260, dtype: object
City number 262 is, City    santa maria
Name: 261, dtype: object
City number 263 is, City    taltal
Name: 262, dtype: object
City number 264 is, City    ixtapa
Name: 263, dtype: object
City number 265 is, City    adrar
Name: 264, dtype: object
City number 266 is, City    mont-dore
Name: 265, dtype: object
City number 267 is, City    klaksvik
Name: 266, dtype: object
City number 268 is, City    bolungarvik
Name: 267, dtype: object
City number 269 is, City    narsaq
Name: 268, dtype: object
City number 270 is, City    ancud
Name: 269, dtype: object
City number 271 is, City    keshorai patan
Name: 270, dtype: object
City number 272 is, City    tucuman
Name: 271, dtype: object
City number 273 is, City    rocha
Name: 272, dtype: object
City number 274 is, City    oktyabrskoye
Name: 273, dtype: object
City number 275 is, City    worthing
Name: 274, dtype: object
City number 276 is, City    makakilo city
Name: 275, dtype: object
City number 277 is, City    urengoy
Name: 276, dtype: object
City number 278 is, City    tsihombe
Name: 277, dtype: object
City number 279 is, City    harper
Name: 278, dtype: object
City number 280 is, City    kibre mengist
Name: 279, dtype: object
City number 281 is, City    evensk
Name: 280, dtype: object
City number 282 is, City    nome
Name: 281, dtype: object
City number 283 is, City    samarai
Name: 282, dtype: object
City number 284 is, City    teknaf
Name: 283, dtype: object
City number 285 is, City    naze
Name: 284, dtype: object
City number 286 is, City    udachnyy
Name: 285, dtype: object
City number 287 is, City    camacha
Name: 286, dtype: object
City number 288 is, City    nicolas bravo
Name: 287, dtype: object
City number 289 is, City    la ronge
Name: 288, dtype: object
City number 290 is, City    coripata
Name: 289, dtype: object
City number 291 is, City    iquitos
Name: 290, dtype: object
City number 292 is, City    berlevag
Name: 291, dtype: object
City number 293 is, City    okhotsk
Name: 292, dtype: object
City number 294 is, City    solnechnyy
Name: 293, dtype: object
City number 295 is, City    pangnirtung
Name: 294, dtype: object
City number 296 is, City    koga
Name: 295, dtype: object
City number 297 is, City    praxedis guerrero
Name: 296, dtype: object
City number 298 is, City    kangaatsiaq
Name: 297, dtype: object
City number 299 is, City    sur
Name: 298, dtype: object
City number 300 is, City    bambanglipuro
Name: 299, dtype: object
City number 301 is, City    port elizabeth
Name: 300, dtype: object
City number 302 is, City    santa cecilia
Name: 301, dtype: object
City number 303 is, City    grindavik
Name: 302, dtype: object
City number 304 is, City    lamu
Name: 303, dtype: object
City number 305 is, City    lorengau
Name: 304, dtype: object
City number 306 is, City    scarborough
Name: 305, dtype: object
City number 307 is, City    raudeberg
Name: 306, dtype: object
City number 308 is, City    urumqi
Name: 307, dtype: object
City number 309 is, City    anchorage
Name: 308, dtype: object
City number 310 is, City    salinas
Name: 309, dtype: object
City number 311 is, City    lebu
Name: 310, dtype: object
City number 312 is, City    lulea
Name: 311, dtype: object
City number 313 is, City    price
Name: 312, dtype: object
City number 314 is, City    say
Name: 313, dtype: object
City number 315 is, City    baghdad
Name: 314, dtype: object
City number 316 is, City    neiafu
Name: 315, dtype: object
City number 317 is, City    charleston
Name: 316, dtype: object
City number 318 is, City    ojhar
Name: 317, dtype: object
City number 319 is, City    mangai
Name: 318, dtype: object
City number 320 is, City    divnomorskoye
Name: 319, dtype: object
City number 321 is, City    gushikawa
Name: 320, dtype: object
City number 322 is, City    dabat
Name: 321, dtype: object
City number 323 is, City    fortuna
Name: 322, dtype: object
City number 324 is, City    omsukchan
Name: 323, dtype: object
City number 325 is, City    san carlos de bariloche

In [ ]:
weather_data

In [ ]:
#summary = ["clouds.all", "sys.country", "dt", "main.temp", "main.humidity", "coord.lat", "coord.lon", "main.temp_max", "wind.speed"]
cities = cities_dft['City'].values

# Create a Pandas DataFrame with the results
#data = [for row in weather_data]
column_names = ['Cloudiness', 'Country', 'Time', 'Temperature', 'Humidity', 'Lattitude', 'Longitude', 'Max Temp', 'Wind Speed']
weather_datat = pd.DataFrame(weather_data(index=cities, columns=column_names))
weather_datat.head()

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [ ]:
#params = {
#    "City": target_coordinates,
#    "Cloudiness": target_search,
#    "Country": target_radius,
#    "Date": target_type,
#    "Humidity": target_coordinates,
#    "Lat": target_search,
#    "Lng": target_radius,
#    "Max Temp": target_type,
#    "Wind Speed": target_type
#}

In [ ]:
settings = {"units": "metric", "appid": api_key}

In [ ]:
current_weather_paris = owm.get_current("deputatskiy", **settings)
print(f"Current weather object for Paris: {current_weather_paris}.")

In [ ]:
summary = ["name", "clouds.all", "sys.country", "main.temp", "main.humidity", "coord.lat", "coord.lon", "main.temp_max", "wind.speed" ]

data = current_weather_paris(*summary)
print(f"The current weather summary for Paris is: {data}.")

In [ ]:
units = ["metric"]

# set up list to hold two different temperatures
temperatures = []

# loop throught the list of units and append them to temperatures list
for city in cities:
    # Build query URL based on current element in units
    query_url = url + "appid=" + api_key + "&q=" + "&units=" + unit

    # Get weather data
    weather_response = requests.get(query_url)
    weather_json = weather_response.json()

    # Get temperature from JSON response
    temperature = weather_json["main"]["temp"]

    temperatures.append(temperature)

# Report temperatures by accessing each element in the list
print(
    f"The temperature in Bujumbura is {temperatures[0]}C or {temperatures[1]}F.")

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

### Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

#### Latitude vs. Temperature Plot

#### Latitude vs. Humidity Plot

#### Latitude vs. Cloudiness Plot

#### Latitude vs. Wind Speed Plot